@{
    ViewData["Title"] = "Instrutores";
}
<h1>@ViewData["Title"]</h1>

<p>Listagem dos instrutores</p>

<a class="btn btn-primary" role="button" asp-controller="Instrutores" asp-action="Adicionar">Adicionar</a>
